extends layout 

block content 
  
 div(class="p-2 flex flex-col items-center")
    h2(class="font-bold text-3xl mb-2") All Brands

    ul(class="text-blue-400 flex flex-col items-center")
      each brand in list_brands 
        li 
          a(href=brand.url) #{brand.name}
      

    a(href="/stock/brand/create") +