extends layout 

block content

  div(class="p-2")

    h1(class="text-4xl")= brand.name
    p=brand.about

    ul 
      each item in items_list 
        li
          a(href=item.url class="font-bold") #{item.model}

