doctype html 
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(class="flex flex-wrap justify-between content-center p-2 gap-2 sm:px-10 gap-100 bg-gradient-to-r from-cyan-500 to-blue-500 ")
      a(href="/" class="flex grow sm:grow-0 justify-center text-5xl text-white font-bold ") Windsurf Hut
      div(class="flex grow sm:grow-0 gap-4 justify-around items-center text-white")
        a(href="/stock/all_brands")  Brands
        a(href="/stock/all_disciplines") Components
        a(href="/stock/all_disciplines") Styles

    
    div
      block content
