doctype html 
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(class="text-center sm:text-left bg-sky-200")
      h1 I'm just the navbar div 
      p(class="text-6xl") Hello! Why is the colour not working?

    
    div
      block content
